$colors: (
    text1: rgb(46, 224, 255),
    text2: rgb(255, 46, 116),
    background1: rgb(22, 23, 32),
    background2: rgb(37,41,52),
    background3: rgb(27,36,47)
);


@mixin mobile {
    @media (max-width: 991px) {
        @content
    }
};

@function color($color-name) {
    @return map-get($colors,$color-name)
};

@function font($font-name) {
    @return map-get($fonts,$font-name)
};

body {
    color: #fff;
    margin:0;
    padding:0;
    h2 {
        text-align: center;
        padding: 10px;
    }
    header {
        img {
            width: 100%;
        }
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100vw;
    }
    #navigation {
        background: color(background1) !important;
        box-shadow: 0px 5px 5px rgb(184, 184, 184);
        z-index: 10;
        a {
            color: color(text1);
            text-transform: uppercase;
        }
        @include mobile {
            .navbar-brand {
                padding-left:20px;
            }
        }
    }
    main {
        section {
            background: color(background2);
            h1,h2,h3,h4,h5 {
                color: color(text2);
            }
            #greeter {
                p {
                    font-size: 1.5em;
                }
            }
            #projects {
                div {
                    padding: 0 20px;
                }
                h4 {
                    text-align: center;
                }
                .link {
                    text-align: center;
                    ul {
                        list-style-type: none;
                        margin-left: -30px;
                    }
                }
            }
        }
        article {
            padding: 15px;
            background: color(background3);
            h1,h2,h3,h4,h5 {
                color: color(text1);
            }
            #skillsRow {
                text-align:center;
                p {
                    font-size: 1.5em;
                }
            }
        }
        #greeter {
            padding: 15px;
        }
        #greeter img {
            width: 100%;
        }
    }
    footer {
        background: color(background3);
        .row {
            text-align: center;
        }
        img {
            margin-top: 50px;
            height: 100px; 
            filter: invert(71%) sepia(79%) saturate(1710%) hue-rotate(157deg) brightness(106%) contrast(102%);
        }
    }
    
}
